<div class="content row top-info">
  <div class="left column-6">
    <h2 class="title">Claim</h2>
    <p class="des">Phasellus ultrices nulla quis nibhy. Quisque a lectus Donec.</p>
    <div class="box-wrap mobile-nav-risk">
      <a href="" class="button actived">All Claims <i class="icon-down"><img src="/assets/images/icon-down-arrow.png"></i></a>
    </div>
    <div class="invis-mobile">
      <a style="display: inline-block;" class="button" href="">Fila a Claim</a>
    </div>
  </div>
  <div class="right fr column-6">
    <app-account style="display: inline-flex;"></app-account>
    <div class="potfolio-btn">
      <a class="button" href="javascript:void(0)" (click)="goToPortfolio()">My Portfolio</a>
    </div>
  </div>
</div>
<div class="row button-row">
  <div class="box-wrap">
    <a href="" class="button actived">All</a>
    <a href="" class="button">Pending</a>
    <a href="" class="button">Accepted</a>
  </div>
</div>
<div class="crypto-list row">
  <div class="crypto-list-box" style="">
    <table class="crypto-list-tab" style="width: 100%">
      <tr class="crypto-list-title">
        <td class="crypto-list-search-td">
          <p class="serach-bar" style="background-image: url('/assets/images/icon-search.png')">
            <span class="light-title">Search</span>
          </p>
        </td>
        <td><strong>Date Filed</strong></td>
        <td><strong>Date of Incident</strong></td>
        <td><strong>Date of Decision</strong></td>
        <td><strong>Filed By</strong></td>
        <td><strong>Claim Status</strong></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a10.png"></span>
          <strong>bZx 1</strong>
        </td>
        <td><span class="number">12/05/2020, 3:28:08 PM</span></td>
        <td><span class="number">12/05/2020</span></td>
        <td><span class="number">12/08/2020</span></td>
        <td><span class="number">0x85c5...e704</span></td>
        <td><span class="number">Rejected</span></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a16.png"></span>
          <strong>SushiSwap 1</strong>
        </td>
        <td><span class="number">11/29/2020, 2:00:04 PM</span></td>
        <td><span class="number">11/30/2020</span></td>
        <td><span class="number">12/03/2020</span></td>
        <td><span class="number">0xA51A...C01a</span></td>
        <td><span class="number">Rejected</span></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a1.png"></span>
          <strong>Aave 1</strong>
        </td>
        <td><span class="number">11/22/2020, 10:09:42 AM</span></td>
        <td><span class="number">11/22/2020</span></td>
        <td><span class="number">11/24/2020</span></td>
        <td><span class="number">0x0FDD...D43F</span></td>
        <td><span class="number">Accepted</span></td>
      </tr>
    </table>
  </div>
</div>
