<div class="content row top-info">
  <div class="column-6 left total-asset">
    <p>
      <strong class="title sim-title">Total asset under coverage</strong>
      <span class="number">$76,017,577</span>
    </p>
  </div>
  <div class="column-6 right fr">
    <app-account style="display: inline-flex"></app-account>
    <div class="potfolio-btn">
      <a class="button" href="javascript:void(0)" (click)="goToPortfolio()">My Portfolio</a>
    </div>
  </div>
</div>
<div class="row dashbroad risk-pool">
  <div class="pool-box column-4">
    <div class="row">
      <div class="row pool-top">
        <div class="left pool-content column-6">
          <div class="pool-item title-row"><strong>Low Risk Pool</strong></div>
          <div class="pool-item number-row"><strong>$34,467,304</strong></div>
        </div>
        <div class="right column-6">
          <div class="icon"><img src="/assets/images/icon-2.png"></div>
          <div class="icon"><img src="/assets/images/icon-3.png"></div>
        </div>
        <div class="right pool-item"></div>
      </div>
      <div class="row pool-bottom">
        <div class="item column-6">
          <div class="item-title light-title">
            <p>Reserve Size</p>
          </div>
          <div class="item-detil">
            <strong>$34,467,304</strong>
          </div>
        </div>
        <div class="item column-6">
          <div class="item-title light-title">
            <p>Reserve Returns</p>
          </div>
          <div class="item-detil">
            <strong>560% APY</strong>
          </div>
        </div>
        <div class="item column-6">
          <div class="item-title light-title">
            <p>Payouts Till Today</p>
          </div>
          <div class="item-detil column-6">
            <strong>$145,564</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pool-box column-4">
    <div class="row">
      <div class="row pool-top">
        <div class="left pool-content column-6">
          <div class="pool-item title-row"><strong>Medium Risk Pool</strong></div>
          <div class="pool-item number-row"><strong>$12,499,270</strong></div>
        </div>
        <div class="right column-6">
          <div class="icon"><img src="/assets/images/a10.png"></div>
          <div class="icon"><img src="/assets/images/a17.png"></div>
        </div>
        <div class="right pool-item"></div>
      </div>
      <div class="row pool-bottom">
        <div class="item column-6">
          <div class="item-title light-title">
            <p>Reserve Size</p>
          </div>
          <div class="item-detil">
            <strong>$10,548,886</strong>
          </div>
        </div>
        <div class="item column-6">
          <div class="item-title light-title">
            <p>Reserve Returns</p>
          </div>
          <div class="item-detil">
            <strong>990% APY</strong>
          </div>
        </div>
        <div class="item column-6">
          <div class="item-title light-title">
            <p>Payouts Till Today</p>
          </div>
          <div class="item-detil column-6">
            <strong>$145,564</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pool-box column-4">
    <div class="row">
      <div class="row pool-top">
        <div class="left pool-content column-6">
          <div class="pool-item title-row"><strong>High Risk Pool</strong></div>
          <div class="pool-item number-row"><strong>$29,051,003</strong></div>
        </div>
        <div class="right column-6">
          <div class="icon"><img src="/assets/images/a16.png"></div>
          <div class="icon"><img src="/assets/images/a20.png"></div>
        </div>
        <div class="right pool-item"></div>
      </div>
      <div class="row pool-bottom">
        <div class="item column-6">
          <div class="item-title light-title">
            <p>Reserve Size</p>
          </div>
          <div class="item-detil">
            <strong>$22,998,612</strong>
          </div>
        </div>
        <div class="item column-6">
          <div class="item-title light-title">
            <p class="">Reserve Returns</p>
          </div>
          <div class="item-detil">
            <strong>1771% APY</strong>
          </div>
        </div>
        <div class="item column-6">
          <div class="item-title light-title">
            <p>Payouts Till Today</p>
          </div>
          <div class="item-detil column-6">
            <strong>$642,332</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="crypto-list row">
  <div class="crypto-list-box" style="">
    <table class="crypto-list-tab">
      <tr class="crypto-list-title">
        <td class="crypto-list-search-td">
          <p class="serach-bar" style="background-image: url('/assets/images/icon-search.png')">
            <span class="light-title">Search</span>
          </p>
        </td>
        <td><strong>Stake Earning</strong><p class="light-title">(APR)</p></td>
        <td><strong>Premium price</strong><p class="light-title">(APR)</p></td>
        <td><strong>Guarantor reserve</strong></td>
        <td><strong>Capital reserve</strong><p class="light-title">(APR)</p></td>
        <td><strong>Cover Sold</strong></td>
        <td><strong>Capital Utilzation</strong><p class="light-title">(APR)</p></td>
        <td width="160px"></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a1.png"></span>
          <strong>Aave</strong>
        </td>
        <td><span class="number">1.62%</span></td>
        <td><span class="number">1.80%</span></td>
        <td><span class="number">$600,000</span></td>
        <td><span class="number">$15,000,000</span></td>
        <td><span class="number">$10,500,000</span></td>
        <td><span class="number">70.00%</span></td>
        <td>
          <a class="button" href="">Stake</a>
          <a class="button light-button" href="">Enroll</a>
        </td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a2.png"></span>
          <strong>Curve</strong>
        </td>
        <td><span class="number">1.53%</span></td>
        <td><span class="number">1.70%</span></td>
        <td><span class="number">$400,000</span></td>
        <td><span class="number">$20,000,000</span></td>
        <td><span class="number">$13,000,000</span></td>
        <td><span class="number">65.00%</span></td>
        <td>
          <a class="button" href="">Stake</a>
          <a class="button light-button" href="">Enroll</a>
        </td>
      </tr>
    </table>
  </div>
</div>
