<div class="content row top-info">
  <div class="left column-6">
    <h2 class="title">My Portfolio</h2>
    <p class="des">Stake your TIDAL to earn additional rewards.</p>
  </div>
  <div class="right fr column-6">
    <app-account style="display: inline-flex;"></app-account>
    <div class="potfolio-btn">
      <a class="button" href="portfolio.html">My Portfolio</a>
    </div>
  </div>
</div>
<div class="row wallet">
  <div><h3>My Wallet</h3></div>
  <div class="first-row linear-box-lr mov-left-20">
    <div class="border-right box1">
      <p class="title">My TIDAL Balance</p>
      <p><strong>233 TIDAL</strong></p>
    </div>
    <div class="border-right box2">
      <p class="title">My USDC Balance</p>
      <p><strong>2000 USDC</strong></p>
    </div>
    <div class="box3">
      <span>
        <p class="title">Pre-deposit Balance</p>
        <p><strong>1,200 USDC</strong></p>
      </span>
    </div>
    <div class="border-right box3">
      <span>
        <a class="button" href="">Deposit</a>
        <a class="button" href="">Withdraw</a>
      </span>
    </div>
  </div>
  <div class="column-6 gra-line-bottom mov-left-20i invis-mobile"></div>
</div>
<div class="row wallet summary">
  <div><h3>Summary</h3></div>
  <div class="san-row mov-left-20">
    <div class="border-right box1">
      <p class="title">Total liquidity</p>
      <p><strong>$15,000</strong></p>
    </div>
    <div class="wrap-box box2">
      <div class="border-right">
        <p class="title">Premium Earning</p>
        <p><strong>$300</strong></p>
      </div>
      <div class="border-right">
        <p>
          <a class="button" href="">Claim</a>
        </p>
      </div>
    </div>
    <div class="wrap-box box3">
      <div class="border-right">
        <p class="title">Earned Tokens</p>
        <p><strong>400 TIDAL</strong></p>
      </div>
      <div class="border-right">
        <p>
          <a class="button" href="">Claim</a>
          <a class="button" href="">Details</a>
        </p>
      </div>
    </div>
    <div class="box4">
      <p class="title">Paid out</p>
      <p><strong>$100</strong></p>
    </div>
  </div>
  <div class="first-row linear-box-lr mov-left-20">
    <div class="border-right box3">
      <p class="title">Low Risk Pool</p>
      <p><strong>$7,000</strong></p>
    </div>
    <div class="border-right">
      <p class="title">Medium Risk Pool</p>
      <p><strong>$6,000</strong></p>
    </div>
    <div>
      <p class="title">High Risk Pool</p>
      <p><strong>$2,000</strong></p>
    </div>
  </div>
  <div class="column-6 gra-line-bottom mov-left-20 invis-mobile"></div>
</div>
<div class="crypto-list row">
  <div><h3>My Capital Porfolio</h3></div>
  <div class="crypto-list-box" style="">
    <table class="crypto-list-tab" style="width: 100%">
      <tr class="crypto-list-title">
        <td class="crypto-list-search-td">
          <p class="serach-bar" style="background-image: url('/assets/images/icon-search.png')">
            <span class="light-title">Search</span>
          </p>
        </td>
        <td><strong>Current Stake Eaming（APR）</strong></td>
        <td><strong>Capital Utillzation</strong></td>
        <td><strong>Risk Level</strong></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a1.png"></span>
          <strong>Aave</strong>
        </td>
        <td><span class="number">3.65%</span></td>
        <td><span class="number">60%</span></td>
        <td><span class="number">Low</span></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a5.png"></span>
          <strong>Balancer</strong>
        </td>
        <td><span class="number">5.55%</span></td>
        <td><span class="number">33.33%</span></td>
        <td><span class="number">Medium</span></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a12.png"></span>
          <strong>Hegic</strong>
        </td>
        <td><span class="number">11.65%</span></td>
        <td><span class="number">62.50%</span></td>
        <td><span class="number">High</span></td>
      </tr>
    </table>
  </div>
  <div class="column-6 gra-line-bottom mov-left-20 invis-mobile"></div>
</div>
<div class="crypto-list row">
  <div><h3>My Covered Assets</h3></div>
  <div class="crypto-list-box" style="">
    <table class="crypto-list-tab" style="width: 100%">
      <tr class="crypto-list-title">
        <td class="crypto-list-search-td">
          <p class="serach-bar" style="background-image: url('/assets/images/icon-search.png')">
            <span class="light-title">Search</span>
          </p>
        </td>
        <td><strong>Cost(Weekly)</strong></td>
        <td><strong>My Cover Amount</strong></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a7.png"></span>
          <strong>Yearn</strong>
        </td>
        <td><span class="number">0.030%</span></td>
        <td><span class="number">$7,000</span></td>
      </tr>
      <tr class="crypto-list-item">
        <td class="crypto-list-td-first">
          <span class="icon"><img src="/assets/images/a14.png"></span>
          <strong>Synthetix</strong>
        </td>
        <td><span class="number">0.032%</span></td>
        <td><span class="number">$4,000</span></td>
      </tr>
    </table>
  </div>
</div>
