<div class="content row top-info">
  <div class="left column-6">
    <h2 class="title">Staking</h2>
    <p class="des">Stake your TIDAL to earn additional rewards.</p>
  </div>
  <div class="right fr column-6">
    <app-account style="display: inline-flex;"></app-account>
    <div class="potfolio-btn">
      <a class="button" href="javascript:void(0)" (click)="goToPortfolio()">My Portfolio</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="first-row">
    <div>
      <p class="title">Staked TIDAL</p>
      <p><strong>1200 TIDAL</strong></p>
    </div>
    <div>
      <p class="title">Staked TIDAL</p>
      <p><strong>20 TIDAL</strong></p>
    </div>
    <div>
      <p>
        <a class="button" href="">Claim</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="san-row">
    <div class="pes-box">
      <p class="title"><strong class="pes">89%</strong></p>
      <p class="title">Estimated APY</p>
    </div>
    <div>
      <p class="title">Amount to stake</p>
      <p class="amt-box">Amount</p>
    </div>
    <div>
      <p>
        <a class="button" href="">stake TIDAL</a>
        <a class="button" href="">Unstake TIDAL</a>
      </p>
    </div>
  </div>
  <div class="row bottom-space"></div>
  <div class="row bottom-space"></div>
</div>
