<div class="mobile-head container main-container">
  <div class="content">
    <div class="head-row row">
      <div class="logo fl">
        <a href="index.html"><img src="/assets/images/logo.png"></a>
      </div>
      <div class="potfolio-btn fr">
        <a class="button" href="portfolio.html">My Portfolio</a>
      </div>
    </div>
    <div class="crypto-fund-row row">
      <app-account></app-account>
    </div>
    <div class="row mobile-nav">
      <div class="menu-item actived">
        <a href="">Market<i class="icon-down"><img src="/assets/images/icon-down-arrow.png"></i></a>
      </div>
      <ul class="drop">
        <li class="menu-item"><a href="buy.html">Buy Cover</a></li>
        <li class="menu-item"><a href="sell.html">Sell Cover</a></li>
        <li class="menu-item"><a href="staking.html">Staking</a></li>
        <li class="menu-item"><a href="claims.html">Claims</a></li>
      </ul>
    </div>
    <div class="row" style="display: none;">
      <p class="row total-asset">
        <strong class="title sim-title">Total asset under coverage</strong>
      <br/>
        <span class="number">$123,1231,1233</span>
      </p>
    </div>
  </div>
</div>
